* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
.container {
    width:600px;
    height:800px;
    margin:100px auto;
    background-image: linear-gradient(to right,rgb(5, 146, 202),rgb(5, 202, 159)) ;
    position: relative;
    /* ? */
}
.background_content {
    background-color: rgb(227, 227, 227);
    height: 500px;
    width: 400px;
    padding: 20px;
    position: absolute;
    z-index: 2;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-shadow:10px 10px 30px 0 rgba(0, 0, 0, .6);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.song_name {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
.song_authors {
    display: inline-block;
    margin-bottom: 30px;
    font-size: 15px;
}
.time {
    width:100%;
    margin-bottom: 30px;

}
.time_interval {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.timeline {
    background-color: #fff;
    height: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.music_control {
    display: flex;
    align-items: center;
    color: grey;
}
.image {
    height: 300px;
    width: 300px;
    background: url('./img/dom-dom_kursunu.jpg') no-repeat center;
    background-size: cover;
    position: absolute;
    z-index: 3;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    box-shadow:10px 10px 30px 0 rgba(0, 0, 0, .6);
}
.m-4 {
    margin-left: -4px;
}
.mx-20 {
    margin-left: 20px;
    margin-right: 20px;
}
.fs-20 {
    font-size: 20px;
}
.fs-30 {
    font-size: 30px;
}
.fs-60 {
    font-size: 60px;
}





